/*** Form Style ***/
form {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 0.25rem;
    background-color: #fff;
    margin-top: auto;
}

/** Input Styles **/
form label span {
    font-size: 0.75rem;
    font-weight: 400;
    color: #212121;
}
form label input {
    font-size: 1rem;
    font-weight: 400;
    color: #212121;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 0.25rem;
}

/* Text */
form label.text {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

/* Checkbox */
form label.checkbox {
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-bottom: 1rem;
}

/** Form Button **/
form button {
    font-size: 1rem;
    font-weight: 400;
    color: #fff;
    padding: 0.5rem;
    border: 1px solid #009bdf;
    border-radius: 0.25rem;
    background-color: #009bdf;
}
form button:hover {
    cursor: pointer;
    background-color: #0088b0;
}
form button:active {
    background-color: #00779a;
}